<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class="my-10 px-10">
      <div>
        <img src="assets/img/logo.png" alt="Logo do Terex">
      </div>
    </div>
    <div class="px-2 flex items-center gap-x-3 border-b-2 pb-4 cursor-pointer text-Dark_Grey_ATEX"
      [routerLink]="['minha-conta']" [routerLinkActive]="'text-atex_orange'">
      <div><img src="assets/img/profile.png" alt="Imagem do usuário"></div>
      <p class=" font-bold">Cláudia Medeiros</p>
    </div>
    <nav class="pt-5">
      <ul>

        <li class="w-full p-3 text-Dark_Grey_ATEX hover:bg-atex_light_orange 
          hover:text-atex_orange cursor-pointer flex items-center gap-5 text-sm font-normal"
          [routerLink]="['dashboard']" [routerLinkActive]="'text-atex_orange bg-atex_light_orange'"
          #dashboardActive="routerLinkActive">
          <img src="assets/icons/dashboard.svg" *ngIf="dashboardActive.isActive" alt="Dashboard icon">
          <img src="assets/icons/dashboard-gray.svg" *ngIf="!dashboardActive.isActive" alt="Dashboard cinza icon">
          <span>Dashboard</span>
        </li>

        <li class="w-full p-3 text-Dark_Grey_ATEX hover:bg-atex_light_orange 
          hover:text-atex_orange cursor-pointer flex items-center gap-5 text-sm font-normal"
          [routerLink]="['contratos']" [routerLinkActive]="'text-atex_orange bg-atex_light_orange'"
          #contratosActive="routerLinkActive">
          <img src="assets/icons/contracts.svg" *ngIf="contratosActive.isActive" alt="Contratos icon">
          <img src="assets/icons/contracts-gray.svg" *ngIf="!contratosActive.isActive" alt="Contratos cinza icon">
          <span>Contratos</span>
        </li>

        <li class="w-full p-3 text-Dark_Grey_ATEX hover:bg-atex_light_orange 
        hover:text-atex_orange cursor-pointer"
          [ngClass]="{ 'text-atex_orange bg-atex_light_orange': scheduleActive.isActive}">

          <div class="flex flex-col">
            <div class="flex items-center gap-5 text-sm font-normal mb-2 " [routerLink]="['agendamentos']"
              [routerLinkActive]="'text-atex_orange bg-atex_light_orange'" #scheduleActive="routerLinkActive">
              <img src="assets/icons/calendar.svg" *ngIf="scheduleActive.isActive" alt="Contratos icon">
              <img src="assets/icons/calendar-gray.svg" *ngIf="!scheduleActive.isActive" alt="Contratos cinza icon">
              <div class="flex items-center gap-2">
                <span>Agendamentos</span>
                <img src="assets/icons/down.svg" alt="" *ngIf="scheduleActive.isActive">
              </div>
            </div>
            <div *ngIf="scheduleActive.isActive">
              <ul class="flex flex-col gap-2">
                <li [routerLink]="['agendamentos/retiradas']" routerLinkActive="font-bold">Retiradas</li>
                <li [routerLink]="['agendamentos/devolucoes']" routerLinkActive="font-bold">Devoluções</li>
              </ul>
            </div>
          </div>

        </li>

        <li class="w-full p-3 text-Dark_Grey_ATEX hover:bg-atex_light_orange 
        hover:text-atex_orange cursor-pointer flex items-center gap-5 text-sm font-normal" [routerLink]="['produtos']"
          [routerLinkActive]="'text-atex_orange bg-atex_light_orange'" #productsActive="routerLinkActive">
          <img src="assets/icons/products.svg" *ngIf="productsActive.isActive" alt="Contratos icon">
          <img src="assets/icons/products-gray.svg" *ngIf="!productsActive.isActive" alt="Contratos cinza icon">
          <span>Produtos</span>
        </li>

        <li class="w-full p-3 text-Dark_Grey_ATEX hover:bg-atex_light_orange 
        hover:text-atex_orange cursor-pointer flex items-center gap-5 text-sm font-normal" [routerLink]="['financas']"
          [routerLinkActive]="'text-atex_orange bg-atex_light_orange'" #financeActive="routerLinkActive">
          <img src="assets/icons/finance.svg" *ngIf="financeActive.isActive" alt="Contratos icon">
          <img src="assets/icons/finance-gray.svg" *ngIf="!financeActive.isActive" alt="Contratos cinza icon">
          <span>Finanças</span>
        </li>

        <li class="w-full p-3 text-Dark_Grey_ATEX hover:bg-atex_light_orange 
        hover:text-atex_orange cursor-pointer"
          [ngClass]="{ 'text-atex_orange bg-atex_light_orange': filialsActive.isActive}">

          <div class="flex flex-col">
            <div class="flex items-center gap-5 text-sm font-normal mb-2 " [routerLink]="['filiais']"
              [routerLinkActive]="'text-atex_orange bg-atex_light_orange'" #filialsActive="routerLinkActive">
              <img src="assets/icons/calendar.svg" *ngIf="filialsActive.isActive" alt="Contratos icon">
              <img src="assets/icons/calendar-gray.svg" *ngIf="!filialsActive.isActive" alt="Contratos cinza icon">
              <div class="flex items-center gap-2">
                <span>Filiais</span>
                <img src="assets/icons/down.svg" alt="" *ngIf="filialsActive.isActive">
              </div>
            </div>
            <div *ngIf="filialsActive.isActive">
              <ul class="flex flex-col gap-2">
                <li [routerLink]="['filiais/representantes']" routerLinkActive="font-bold">Representantes Comerciais</li>
                <li [routerLink]="['filiais/unidades']" routerLinkActive="font-bold">Unidades de Distribuição</li>
                <li [routerLink]="['filiais/tecnicos']" routerLinkActive="font-bold">Técnicos da Filial</li>
              </ul>
            </div>
          </div>

        </li>

  

      </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <div class="px-2">
      <button *ngIf="!drawer.opened" type="button" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button *ngIf="drawer.opened" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
    </div> -->
    <div class="pl-5">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>