.sidenav-container {
  height: 100%;
  background-color: #E5E5E5;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active{
  color: #F48120;
}
