<div *ngIf="!success && !error">
    <h4 class="text-xl font-bold pb-10 text-Dark_Grey_ATEX text-center">Alterar senha</h4>

    <form [formGroup]="changePasswordForm">
        <mat-form-field class="w-full">
            <mat-label>Token</mat-label>
            <input formControlName="token" type="text" class="text-Dark_Grey_ATEX" matInput>
            <mat-error class="text-right" *ngIf="token?.hasError('required') && token?.touched">Campo obrigatório
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Senha</mat-label>
            <input formControlName="password" class="text-Dark_Grey_ATEX" matInput [type]="hide ? 'password' : 'text'">
            <mat-error class="text-right" *ngIf="password?.hasError('required') && password?.touched">Campo obrigatório
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Senha</mat-label>
            <input formControlName="confirmPassword" class="text-Dark_Grey_ATEX" matInput
                [type]="hide ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon class="text-gray-600">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error class="text-right" *ngIf="confirmPassword?.hasError('required') && confirmPassword?.touched">
                Campo
                obrigatório
            </mat-error>
        </mat-form-field>
        <button (click)="submit()" mat-raised-button class="bg-black_button text-white w-full">ALTERAR SENHA</button>
        <p [routerLink]="['']" class="text-center font-bold text-Dark_Grey_ATEX mt-10 uppercase cursor-pointer text-sm">
            Voltar para
            o login</p>
    </form>
</div>

<div *ngIf="success">
    <img class="mx-auto mb-2" src="assets/img/success.png" alt="Icone de sucesso">
    <h4 class="text-xl font-bold pb-10 text-Dark_Grey_ATEX text-center">Senha alterada com sucesso!</h4>
    <button mat-raised-button class="bg-black_button text-white w-full" [routerLink]="['']">FAZER LOGIN</button>
</div>

<div *ngIf="error">
    <img class="mx-auto mb-2" src="assets/icons/error.svg" alt="Icone de erro">
    <h4 class="text-xl font-bold pb-10 text-Dark_Grey_ATEX text-center">Erro ao alterar senha!</h4>
    <p class="text-center text-gray_Atex mb-5">Tente novamente mais tarde</p>
    <button mat-raised-button class="bg-black_button text-white w-full" [routerLink]="['']">FAZER LOGIN</button>
</div>