<h4 class="text-xl font-bold pb-10 text-Dark_Grey_ATEX">Esqueceu senha? Recupere
    usando o email cadastrado</h4>

<form>
    <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input [formControl]="email" type="text" matInput class="text-Dark_Grey_ATEX">
        <mat-error *ngIf="email?.hasError('required') && email?.touched">Campo obrigatório</mat-error>
        <mat-error *ngIf="email?.hasError('invalidEmail')">Email inválido</mat-error>
    </mat-form-field>
    <button type="button" mat-raised-button class="bg-black_button text-white w-full"
        [routerLink]="['../alterar-senha']">RECUPERAR SENHA</button>
    <p [routerLink]="['']" class="text-center font-bold text-Dark_Grey_ATEX mt-10 uppercase cursor-pointer text-sm">
        Voltar para
        o login</p>
</form>