mat-form-field.mat-form-field {
  font-size: 13px;
}

table {
  width: 100%;
}

th {
  color: white;
  font-size: 14px;
  font: bold;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

// Drop


.dropdown-menu {
  opacity: 0;
  transform: translateY(-50%) rotateX(-90deg);
  transition: all 0.5s ease-in-out;
  
}


.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 37%;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  border-left: 8px solid transparent;
    content: "";
}

.drop:hover {
  .dropdown-menu {
    opacity: 1;
    transform: translateY(0%) rotateX(0);
 
  }

}