<mat-card class="bg-atex_light_gray mat-elevation-z0">
    <div class="flex flex-col items-center gap-1">
        <div class="flex items-center justify-between w-full">
            <h6 class="text-Dark_Grey_ATEX text-base font-bold">{{data.property}}</h6>
            <span class="text-Dark_Grey_ATEX text-xs">{{ data.code }}</span>
        </div>
        <div class="flex items-center gap-5 w-full">
            <div class="flex items-center gap-1">
                <img src="assets/icons/calendar.svg" alt="Icone">
                <span class="text-Dark_Grey_ATEX text-sm">{{ data.date }}</span>
            </div>
            <div class="flex items-center gap-1">
                <img src="assets/icons/box-product.svg" class="pb-2 w-8" alt="Icone">
                <span class="text-Dark_Grey_ATEX text-sm">{{ data.parts }} peças</span>
            </div>
        </div>
        <div class="flex items-center justify-between w-full">
            <h5 class="text-sm text-Dark_Grey_ATEX font-normal">{{ data.local }}</h5>
            <div class="bg-light_green_atex p-2 rounded-sm text-xs font-bold">
                <p class="text-green_atex">{{ data.request }}</p>
            </div>
        </div>
    </div>
</mat-card>