<h4 class="text-xl font-bold pb-10 text-Dark_Grey_ATEX">Bem-vindo de volta!</h4>

<form [formGroup]="loginForm">
    <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="text" matInput class="text-Dark_Grey_ATEX">
        <mat-error class="text-right" *ngIf="email?.hasError('required') && email?.touched">Campo obrigatório
        </mat-error>
        <mat-error class="text-right" *ngIf="email?.hasError('invalidEmail')">Email inválido</mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Senha</mat-label>
        <input formControlName="password" class="text-Dark_Grey_ATEX" matInput [type]="hide ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon class="text-gray-600">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error class="text-right" *ngIf="password?.hasError('required') && password?.touched">Campo obrigatório
        </mat-error>
    </mat-form-field>
    <button mat-raised-button class="bg-black_button text-white w-full" [disabled]="loginForm.invalid">Entrar</button>
    <p class="text-center font-bold text-Dark_Grey_ATEX pt-10">Esqueceu a senha? <span
            class="text-Atex_blue cursor-pointer" [routerLink]="['recuperar-senha']">Clique aqui</span></p>
</form>