<div class="grid grid-cols-12 gap-5">
    <div class="bg-white col-span-9 py-10 px-3">
        <section>
            <h2 class="text-Dark_Grey_ATEX text-xl font-bold">Agendamentos</h2>
            <div class="grid grid-cols-3 gap-5 my-10">
                <app-dashboard-card *ngFor="let card of cards" [data]="card"></app-dashboard-card>
            </div>
        </section>
        <section>
            <div class="flex items-center justify-between">
                <div class="flex items-center gap-5">
                    <h2 class="text-Dark_Grey_ATEX text-base font-bold">Solicitações</h2>
                    <p class="text-sm underline cursor-pointer font-normal">Ver todas</p>
                </div>
                <div class="flex items-center justify-center gap-5">
                    <mat-form-field class="no-padding bgGray">
                        <mat-label>Filial</mat-label>
                        <mat-select class="bg-atex_light_gray">
                            <mat-option value="1">Filial 1</mat-option>
                            <mat-option value="2">Filial 2</mat-option>
                            <mat-option value="3">Filial 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="flex items-center gap-6">
                        <img class="cursor-pointer" src="assets/icons/filter-arrow-left.svg" alt="">
                        <img class="cursor-pointer" src="assets/icons/filter-arrow-right.svg" alt="">
                    </div>
                </div>

            </div>
            <div class="grid grid-cols-3 gap-5 mt-5">
                <app-dashboard-request-card *ngFor="let request of requests" [data]="request">
                </app-dashboard-request-card>
            </div>
        </section>
        <section class="mt-10">
            <h2 class="text-Dark_Grey_ATEX text-base font-bold">Pedidos de Orçamento</h2>
            <div class="grid grid-cols-3 gap-5 mt-3">
                <app-dashboard-card *ngFor="let budget of budgets" [data]="budget"></app-dashboard-card>
            </div>
        </section>
        <section class="mt-10">
            <h2 class="text-Dark_Grey_ATEX text-base font-bold">Finanças</h2>
            <div class="grid grid-cols-3 gap-5 mt-3">
                <app-dashboard-card *ngFor="let finance of finances" [data]="finance"></app-dashboard-card>
            </div>
        </section>
    </div>
    <div class="bg-white col-span-3 p-3">
        <h4 class="mb-5 text-Dark_Grey_ATEX font-bold text-xl">{{ currentDate }}</h4>
        <mat-card class="demo-inline-calendar-card mat-elevation-z0 w-full bg-atex_light_gray">
            <mat-calendar [selected]="date" [headerComponent]="calendarHeader"></mat-calendar>
        </mat-card>

        <div class="flex items-center justify-between mt-10 mb-3">
            <h2 class="text-Dark_Grey_ATEX text-base font-bold">Notificações</h2>
            <p class="text-sm text-atex_orange underline cursor-pointer font-normal">Ver todas</p>
        </div>
        <div>
            <mat-card class="bg-atex_light_gray mat-elevation-z0 mb-3" *ngFor="let temp of [1,2,4,4,4,4]">
                <div class="flex items-center gap-3">
                    <img src="assets/img/profile.png" alt="">
                    <div>
                        <p class="text-sm text-Dark_Grey_ATEX font-bold">{{ 'João'}} solicita orçamento</p>
                        <p class="text-sm text-Dark_Grey_ATEX">Fulano X</p>
                        <span class="text-atex_cinza_terroso text-xs">05.12.21 - </span>
                        <span class="text-atex_cinza_terroso text-xs">15:40</span>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>