@use "@angular/material" as mat;

$my-primary: mat.define-palette(mat.$red-palette, 900);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$deep-orange-palette);
$my-theme: mat.define-light-theme((color: (primary: $my-warn,
                accent: $my-accent,
                warn: $my-primary ),
        ));
@include mat.all-component-themes($my-theme);


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;


}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-expansion-panel-header {
    padding: 0 12px !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
    background-color: #E9E9E9 !important;
}

.no-padding {
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
}