<h2 class="text-xl text-Dark_Grey_ATEX font-bold mb-5">Alterar Senha</h2>
<form>
    <mat-form-field class="w-full">
        <mat-label>Senha</mat-label>
        <input class="text-Dark_Grey_ATEX" matInput [type]="hide ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon class="text-gray-600">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <!-- <mat-error class="text-right" *ngIf="password?.hasError('required') && password?.touched">Campo obrigatório
        </mat-error> -->
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Nova Senha</mat-label>
        <input class="text-Dark_Grey_ATEX" matInput [type]="hide ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon class="text-gray-600">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <!-- <mat-error class="text-right" *ngIf="password?.hasError('required') && password?.touched">Campo obrigatório
        </mat-error> -->
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>Confirme Nova Senha</mat-label>
        <input class="text-Dark_Grey_ATEX" matInput [type]="hide ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon class="text-gray-600">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <!-- <mat-error class="text-right" *ngIf="password?.hasError('required') && password?.touched">Campo obrigatório
        </mat-error> -->
    </mat-form-field>

    <div class="flex items-center gap-2">
        <button mat-stroked-button type="button" (click)="onNoClick()" class="text-black_button w-full">
            Cancelar</button>
        <button mat-stroked-button (click)="save()" mat-dialog-close="save" type="button"
            class="bg-black_button text-white w-full">
            Salvar</button>
    </div>
</form>